# Functional Programming

A paradigm for organizing code (just like OOP). Data and functions are separate.

## Pure Functions
* Given the same input, expect the same output
* No side effects. The function does not impact anything outside the function (including using a print statement).

Benefits of pure functions:
* Easier to test code
* Less likely to be buggy

Pure functions are a good guideline (not all functions can be pure), great to aspire to!

Helpful functions:

## `map()`

Apply a function to each element in an iterable object without modifying the iterable itself. In the example below we have a list of positive and negative numbers, and we can use the `map()` function to return a list of the absolute value of each function.

In [1]:
li = [-1, 2, -3, 4, -5]
list(map(abs, li))

[1, 2, 3, 4, 5]

For functions that take multiple arguments (like `pow()`), we need to pass two iterables. The length of what `map()` will return which match the length of the shorter iterable.

In [2]:
list(map(pow, [1, 2, 3, 4, 5], [5, 4, 3, 2]))

[1, 16, 27, 16]

## `filter()`

Filter aslo takes a function and an iterable, but will only output elements where the output of that function given each element is `True`. For example, if we wanted to grab a list of the elements in `li` that are positive:

In [3]:
list(filter(lambda x: x >= 0, li))

[2, 4]

## `zip()`

`zip()` combines elements of iterables into a tuple.

In [4]:
list(zip(li, map(abs, li)))

[(-1, 1), (2, 2), (-3, 3), (4, 4), (-5, 5)]

## `reduce()`

Given an initial value, `reduce()` iterates through an iterable object, calling a function than manipulates that initial value given the first element in the iterable. The output of that function becomes the new value to be manipulated given the second element in the iterable, and so on.

In the example below we can sum all the numbers 1 through 100.

In [14]:
from functools import reduce

def accumulator(acc, initial):
    # print(initial, acc)
    return acc + initial

reduce(accumulator, list(range(1, 101)), 0)

5050

In [13]:
sum(list(range(1, 101)))

5050

## Lambda Expressions

One-time, anonymous functions. No need to define the function and store it in memory.

For example, instead of:

In [15]:
def accumulator(acc, initial):
    return acc + initial

reduce(accumulator, range(1, 101))

5050

We can just do this!

In [16]:
reduce(lambda x, y: x + y, range(1, 101))

5050

One powerful use of lambda expressions is the ability to modify sorting. For example, we can sort a list of tuples based on the second element in that tuple:

In [17]:
my_tuple = [(0, 2), (4, 3), (9, 9), (10, -1)]
my_tuple.sort(key=lambda x: x[1])
print(my_tuple)

[(10, -1), (0, 2), (4, 3), (9, 9)]

## List, Set, and Dictionary Comprehensions

Something unique but super awesome to Python! I already knew that you could do the following:

In [20]:
print([pow(i, 2) for i in range(101)])

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900, 961, 1024, 1089, 1156, 1225, 1296, 1369, 1444, 1521, 1600, 1681, 1764, 1849, 1936, 2025, 2116, 2209, 2304, 2401, 2500, 2601, 2704, 2809, 2916, 3025, 3136, 3249, 3364, 3481, 3600, 3721, 3844, 3969, 4096, 4225, 4356, 4489, 4624, 4761, 4900, 5041, 5184, 5329, 5476, 5625, 5776, 5929, 6084, 6241, 6400, 6561, 6724, 6889, 7056, 7225, 7396, 7569, 7744, 7921, 8100, 8281, 8464, 8649, 8836, 9025, 9216, 9409, 9604, 9801, 10000]

But what I didn't know is you could also apply a conditional to this! For example, we can retain only the even values from the above.

In [21]:
print([pow(i, 2) for i in range(101) if pow(i, 2) % 2 == 0])

[0, 4, 16, 36, 64, 100, 144, 196, 256, 324, 400, 484, 576, 676, 784, 900, 1024, 1156, 1296, 1444, 1600, 1764, 1936, 2116, 2304, 2500, 2704, 2916, 3136, 3364, 3600, 3844, 4096, 4356, 4624, 4900, 5184, 5476, 5776, 6084, 6400, 6724, 7056, 7396, 7744, 8100, 8464, 8836, 9216, 9604, 10000]

Also works for sets and dictionaries!

In [2]:
my_set = {1, 2, 3, 4, 5, 6, 4, 5, 6}
{i * 2 for i in my_set}

{2, 4, 6, 8, 10, 12}

In [3]:
my_dict = {
    'a': 2, 
    'b': 4, 
    'c': 6
}
{k: pow(v, 2) for k, v in my_dict.items()}

{'a': 4, 'b': 16, 'c': 36}

You can also create a dictionary by iterating over a list, and create a list by iterating over a dictionary:

In [5]:
my_list = [1, 2, 3, 4, 5]
{f'{i}': pow(i, 2) for i in my_list}

{'1': 1, '2': 4, '3': 9, '4': 16, '5': 25}

In [6]:
[i for _, i in my_dict.items()]

[2, 4, 6]